# ignore executable
ic_modeling
ic_modeling-d
ic_modeling.exe-d
ic_modeling-d.exe
ic_modeling.exe
*.stackdump
# ignore dlls
*.dll
# ignore build bat file
build.bat
# ignore objects directories
objs/
objs-d/
objs_rc/
objs_rc-d/
win_obj
# ignore all tmp backup files
*~
.*.swp
.*.swo
